---
// src/pages/blog/index.astro
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = 'Essays';

// This line finds all your .md files in this folder
const allPosts = await Astro.glob('./*.md');
---
<BaseLayout frontmatter={{ title: pageTitle }}>
	<p>
		A collection of essays, notes, and reflections. Some are polished, some are works-in-progress.
	</p>
	<ul>
		{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
	</ul>
</BaseLayout>